fastapi==0.111.1
fastapi-cli==0.0.4
uvicorn==0.30.3
pydantic==1.10.4
psycopg2-binary==2.9.9
pytest==8.3.3
cassandra-driver==3.29.2
# google
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-aiplatform==1.59.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-documentai==2.29.2
google-cloud-resource-manager==1.12.4
google-cloud-storage==2.18.0
google-cloud-tasks==2.16.5
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
grpc-google-iam-v1==0.13.1

# pdf
PyMuPDF==1.24.9
PyMuPDFb==1.24.9

# alembic
alembic==1.13.2

# kafka
aiokafka==0.11.0

# PyJWT
PyJWT==2.9.0
passlib==1.7.4